<nav class="navbar navbar-black bg-primary">
    <a href="/" >
        <img src ="/img/PNG.png"width="50" height="50" >
    </a>
    <h1 style = "color: rgb(255, 255, 255);"> PERGUNTA-AI.COM </h1>
    </nav>