body{
    background-image: url(../img/preto.png);
}

#formulario-pergunta{
    margin-top: 15vh;
}
#teste{
    width: 10000;
    height: 10000px;
  
}

h1{
    color:rgb(0, 4, 255);
    background-color: rgba(95, 95, 95, 0.205);
}
h4{
    color:rgb(0, 0, 0);
    
}
.cardbody{
    background-color: rgba(18, 37, 146, 0.061);

}
.card-footer{
    background-color: rgba(167, 173, 253, 0.24);
}